# Configurações Gerais
LAB_LLM_URL=http://192.168.70.40:8080
NVD_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# --- SELETOR DE INTELIGENCIA ---
# Use 'google' para Gemini ou 'local' para o Túnel SSH
AI_PROVIDER=google
#AI_PROVIDER=local

# --- CREDENCIAIS GOOGLE ---
GOOGLE_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# --- CREDENCIAIS LOCAL (SSH) ---
# Use 'gemini/gemini-pro' para Gemini ou '<IP>' para o Túnel SSH
LLM_TARGET=gemini/gemini-pro

SSH_HOST=XXX.XXX.XXX.XXX
SSH_PORT=XXXX
SSH_USER=usuario
SSH_PASS=senha